<!DOCTYPE HTML>
<html>
<head>
    <title>Spring boot 2.2. web service</title>
    <meta http-equiv="Conent-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1> 스프링 부트로 시작하는 웹 서비스</h1>
</body>

</html>