{{>layout/header}}

<!--    <h1>Springboot Ver.2.3.0</h1>-->
    <div class="col-md-12">
        <br>
        <div class="col-md-6">
            <a href="/swagger-ui.html" class="btn btn-success active" role="button">API Swagger Link</a>
        </div>
        <!-- 목록 출력 영역 -->
    </div>

{{>layout/footer}}