<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.quantum.spin.entanglement.springboot.mapper.UsersMapper">
    <select id="findById" resultType="Users" parameterType="Long">
        SELECT * FROM Users WHERE id = #{id} ORDER BY id DESC
    </select>
</mapper>